.cart_table{
	width: 95%;
	text-align: center;
	padding: 0;
	margin: 16px; 
	background-color: #000;
	border: 2px black solid;
	border-radius: 10px;
	font-family: "Ubuntu";
	box-shadow: 0 0 5px 1px #000;
}
.cart_table_heading{

	width: auto;
	background-color: #800;
	padding: 8px;
	font-size: 20px;
}
.cart_table_items{
	position: inherit;
	overflow: auto;
	top: 0;
    bottom: 0;
    right: 0;
    left: 0;
	background-color: #fff;
	color: #000;
	transition: background-color 0.5s; 

}
	.cart_table_items:hover{
		background-color: #ccf;
	}
	.cart_table_items:hover .cart_table_remove{
		opacity: 1;
	}
.cart_table_item{
    height: 70px;
	text-align: center;
	padding: 8px;
}
.cart_table_grand_total{
	text-align: center;
	vertical-align: middle;
	padding: 8px;
	font-size: 20px;
}
.cart_table_button{
	padding: 8px;
	margin: 16px;
	font-size: 20px;
	background: linear-gradient(to bottom, rgba(0,85,0,0.8) 0%, rgba(0,128,0,0.8) 40%, rgba(0,128,0,0.8) 60%, rgba(0,85,0,0.8) 100%);
	color: #fff;
	text-decoration: none;
	border-radius: 20px;
	box-shadow: 0 0 10px 1px #000;
	border: none;
	transition: border-radius 0.3s	
}
	.cart_table_button:hover{
		border-radius: 5px;
		box-shadow: 0 0 5px 1px #000;
		background: linear-gradient(to bottom, rgba(0,85,0,0.8) 0%, rgba(0,150,0,0.8) 30%, rgba(0,150,0,0.8) 80%, rgba(0,85,0,0.8) 100%);
	}
.cart_table_remove{
	opacity: 0;
	color: #aaa;
	float: right;
	font-size: 15px;
	margin-top: -10px;
	margin-bottom: -20px;
	transition: opacity 0.3s;
	background-color: rgba(0,0,0,0);
	border: none;
}
	.cart_table_remove:hover{
		color: #000;
	}