*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url(../images/background02.jpg);
	background-size: cover;

}
main{
	font-family: "Ubuntu";
	width: 100%;
	height: auto;
}
h1{
	font-size: 50px;
	margin: 20px 40px;
	text-shadow: 0px 1px 5px 1px #333;
}
h5{
	font-size: large;
	margin: 8px;
}
hr{
	margin: 16px;
}
.form{
	padding: 50px 0;
	font-family: "Ubuntu";
	margin-top: 5%;
	margin-left: 50%;
	width: 50%;
	text-align: center;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0 0 10px 3px #aaa;
}
div a button{
	width: 49%;
}
.detail_brand{
	height: 50px;
	float: right;
	margin: 0 20px;
}
.image_bar{
	text-align: center;
	margin-top: 65px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	width: 50%;
	box-shadow: inset 0 0 5px 2px #000;
	background-color: rgba(255,255,255,1);
}
.detail_image{
	margin-top: 70px;
	width: 80%;
	font-family: "Ubuntu"
}
.detail_buttons{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 50%;
	padding: 5px 0; 
	background-color: #000;
}
.button{
	padding: 16px;
	margin: 0;
	background-color: #800000;
	color: #ffffff;
	font-size: 30px;
	text-decoration: none;
	transition: padding 0.5s;
	border: none;
	box-shadow: inset 0 0 5px 2px #000;
}
	.button:hover{
		background-color: rgba(0,128,0,0.8);
	}
.detail_price{
	width: 100%;
	background: linear-gradient(to bottom, rgba(85,85,85,0.8) 0%, rgba(0,0,0,0.8) 40%, rgba(0,0,0,0.8) 62%, rgba(85,85,85,0.8) 100%);
	color: #fff;
	margin: 16px 0;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
.textbox{
	margin: 10px;
	padding: 10px;
	width: 50%;	
	border: 1px rgba(0,0,0,0.8) solid;
}
	.textbox:hover{
	border: 1px rgba(150,150,150,0.8) solid;
	background-color: #FFFDE7;
	}
.color{
	text-decoration: none;
}
.size{
	text-decoration: none;
}
li{
	display: inline-block;
	list-style: none;
}
.detail_desc{
	margin: 16px;
	padding: 16px;
	background-color: rgba(128,128,128,0.1);
	border-radius: 10px;
	box-shadow: 0 0 100px 1px #aaa;
	text-align: left;
}
.detail_desc li {

	list-style: circle;
}