footer{
	width: 100%;
	padding: 8px 0;
	margin-top: 8px;
	background-color: rgba(0,0,0,0.9);
	color: #fff;
	text-align: center;
}
.sidebar{
	width: 200px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	text-align: center;
}
.top_text{
	width: 100%;
	font-size: 35px;
	float: left;
	color: #000;
	font-family: "Bauhaus 93";
	margin: 0;
	text-decoration: none;
	vertical-align: middle;
	transition: text-shadow 0.25s;
	text-shadow: 0 0 5px #fff;
}
	.top_text:hover{
		color: #aaa;
		text-shadow: 0 0 10px #000;
	}
.list_items{
	font-family: "Ubuntu";
	list-style: none;
}
	.list_items li{
		margin: 16px;
	}