*{
	margin: 0;
	padding: 0;
}
.background{
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	background-size: cover;
}
.form{	
	width: 100%;
	text-align: center;
	font-family: "Ubuntu";
	vertical-align: middle;
}
.heading{
	width: 100%;
	padding: 8px 0;
	font-family: "Ubuntu";
	text-align: center;
	background-color: rgba(255,255,255,0.5);
	margin: 16px 0;
	box-shadow: 0 0 10px 2px #000;
}

.textbox{

	padding: 10px;
	width: 300px;
	border: 1px #000 solid;
	background-color: rgba(0,0,0,0.5);
	border-radius: 8px;
	color: #fff;
}
	.textbox:hover{
	border: 1px rgba(0,0,0,0.5) solid;
	background-color: rgba(0,0,0,0.2);
	}
.button{
	margin-top: 30px;
	padding: 10px;
	background-color: rgba(128,0,0,0.8);
	color: #ffffff;
	font-size: 25px;
	transition: padding 0.5s;
	border: none;
	box-shadow: 1px 1px 3px 2px black;
}
	.button:hover{
		background-color: rgba(128,0,0,0.5);
	}